body {
  display: flex;
  justify-content: center;
}
.manageUser {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 80dvw;
}

.divider {
  border-bottom: solid 0.5px;
  padding-bottom: 8px;
}
