.card-calculator {
  display: flex;
  text-align: center;
  margin: 25px auto;
  position: initial;
  max-width: 60vw;
}

.button-calculate {
  background-color: var(--main-color);
  border-color: var(--main-color);
}

p {
  font-family: "Fira Sans";
  font-weight: bold;
}

@media screen and (min-width: 768px) {
  .card-calculator {
    display: flex;
    text-align: center;
    max-width: 60vw;
    margin: 25px auto;
  }
}
