:root {
  --main-color: #272350;
  --secondary-color: #cfe2ff;
  font-family: "Barlow", sans-serif;
}

body {
  width: 100vw;
}

a {
  text-decoration: none;
  color: black;
}

.hide {
  display: none;
}
